.bloqueo{
    background-image: url('/src/assets/inicio_p.webp');
    background-size: contain;
    border: solid rgb(255, 254, 254);
    border-radius: 0.5rem;
    width: 50%;
    margin-top: 5rem;
    margin-left: 25%;
    padding-bottom: 10rem;
    padding-top: 10rem;
}

label{
    background-color: rgba(183, 200, 85, 0.717);
    display: block;
    width: 25%;
    margin-left: 36%;
    margin-bottom: 2.5%;
    border: solid white;
    border-radius: 2rem;
    padding: 0.5rem;
    color: rgb(255, 250, 250);
    font-size: 15px;
}

.usuario{
    background-color: rgba(16, 16, 16, 0.843);
    border: solid white;
}
.contraseña{
    background-color: rgba(16, 16, 16, 0.843);
    border: solid white;
}

p{
    color: rgb(225, 45, 45);
    font-size: 18px;
    /* background-color: rgba(220, 20, 60, 0.2); */
    width: 60%;
    height: 50px;
    margin-left: 22%;
}